In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib 
matplotlib.rcParams["figure.figsize"] = (20,10)

In [2]:
df1 = pd.read_csv("house_prices.csv")
df1.head()

,Title,Sub_title,Price,Address,Baths,Land size,Beds,House size,Location,Description,Post_URL,Seller_name,Seller_type,published_date,Geo_Address,Lat,Lon
0,House with Land for Sale in Matara for sale,"Posted on 06 Nov 2:32 pm, Matara City, Matara","Rs 5,400,000","Gangodagama Roard,Hakmana,Matara.",1,50.0 perches,3,"1,600.0 sqft","Matara City, Matara","Land for sale with house Matara,Hakmana Gangod...",https://ikman.lk/en/ad/house-with-land-for-sal...,Ishara Dilshan,Member,2021-11-06 14:32:00,"Matara City, Matara, Sri Lanka",80.500000,6.166670
1,à¶ à¶½à·à¶­à· à¶à·à¶¸à¶» 3 à¶ à¶à·à· à...,"Posted on 24 Oct 7:27 am, Athurugiriya, Colombo","Rs 16,800,000",Athurugiriya Galwarusapare,3,8.0 perches,3,"1,480.0 sqft","Athurugiriya, Colombo",*House For Sale In Athurugiriya *Galwarusapare...,https://ikman.lk/en/ad/alut-kaamr-3-k-grh-bhaa...,DILRUWAN REAL ESTATE,Premium-Member,2021-10-24 07:27:00,"Athurugiriya, Colombo, Sri Lanka",79.989929,6.877246
2,Kelaniya - House on 20P Land for sale for sale,"Posted on 17 Nov 5:19 pm, Kelaniya, Gampaha","Rs 20,000,000",Kelaniya- Ranaviru Maldeniya Road,2,20.0 perches,3,"2,800.0 sqft","Kelaniya, Gampaha","Kelaniya- Biyagama road, Ranaviru Maladeniya R...",https://ikman.lk/en/ad/kelaniya-house-on-20p-l...,Provident Paradise (Pvt) Ltd,Member,2021-11-17 17:19:00,"Kelaniya, Gampaha, Sri Lanka",79.914926,6.951178
3,House For Sale in Pamankada Lane Wellawatte Co...,"Posted on 17 Nov 5:07 pm, Colombo 6, Colombo","Rs 187,000,000",Pamankada Lane Wellawatte Colombo.06,5,22.0 perches,5,"4,000.0 sqft","Colombo 6, Colombo",22 Perches House For Sale in Pamankada Lane We...,https://ikman.lk/en/ad/house-for-sale-in-paman...,Colombo Construction Property Developers,Premium-Member,2021-11-17 17:07:00,"Colombo 6, Colombo, Sri Lanka",80.016670,6.866670
4,House For Sale - Attidiya for sale,"Posted on 17 Nov 5:06 pm, Dehiwala, Colombo","Rs 1,300,000",MainRoad Attidiya,1,6.3 perches,2,900.0 sqft,"Dehiwala, Colombo",*à¶ à¶­à·à¶­à·à¶©à·à¶º à¶´à·âà¶»à¶¯à·à·...,https://ikman.lk/en/ad/house-for-sale-attidiya...,Lakdinu Houses,Member,2021-11-17 17:06:00,"Dehiwala, Colombo, Sri Lanka",79.880242,6.838232

In [3]:
df1.shape

(15327, 17)

In [4]:
df1.groupby('Seller_type')['Seller_type'].agg('count')

Seller_type
Member             2175
Premium-Member    13152
Name: Seller_type, dtype: int64

In [6]:
df1.columns

Index(['Title', 'Sub_title', 'Price', 'Address', 'Baths', 'Land size', 'Beds',
       'House size', 'Location', 'Description', 'Post_URL', 'Seller_name',
       'Seller_type', 'published_date', 'Geo_Address', 'Lat', 'Lon'],
      dtype='object')

In [126]:
#Assumed only following columns are important
df2= df1.loc[:,['Price','Baths','Land size', 'Beds','House size', 'Location','Seller_type']]

In [109]:
df2.head()

,Price,Baths,Land size,Beds,House size,Location,Seller_type
0,"Rs 5,400,000",1,50.0 perches,3,"1,600.0 sqft","Matara City, Matara",Member
1,"Rs 16,800,000",3,8.0 perches,3,"1,480.0 sqft","Athurugiriya, Colombo",Premium-Member
2,"Rs 20,000,000",2,20.0 perches,3,"2,800.0 sqft","Kelaniya, Gampaha",Member
3,"Rs 187,000,000",5,22.0 perches,5,"4,000.0 sqft","Colombo 6, Colombo",Premium-Member
4,"Rs 1,300,000",1,6.3 perches,2,900.0 sqft,"Dehiwala, Colombo",Member

## Data Cleaning

In [110]:
df2.isnull().sum()

Price          0
Baths          0
Land size      0
Beds           0
House size     0
Location       0
Seller_type    0
dtype: int64

In [111]:
# df3=df2.dropna()
df2.head()

,Price,Baths,Land size,Beds,House size,Location,Seller_type
0,"Rs 5,400,000",1,50.0 perches,3,"1,600.0 sqft","Matara City, Matara",Member
1,"Rs 16,800,000",3,8.0 perches,3,"1,480.0 sqft","Athurugiriya, Colombo",Premium-Member
2,"Rs 20,000,000",2,20.0 perches,3,"2,800.0 sqft","Kelaniya, Gampaha",Member
3,"Rs 187,000,000",5,22.0 perches,5,"4,000.0 sqft","Colombo 6, Colombo",Premium-Member
4,"Rs 1,300,000",1,6.3 perches,2,900.0 sqft,"Dehiwala, Colombo",Member

In [127]:
# df2['Location'].unique()
df2[['town','district']]=df2.Location.str.split(",",expand=True)
df2= df2.drop('Location',1)

In [128]:
df2['Price'] = df2['Price'].str.replace('Rs', '').str.replace(',', '').astype(int)
df2['House size'] = df2['House size'].str.replace('sqft', '').str.replace(',', '').astype(float)
df2.head()

,Price,Baths,Land size,Beds,House size,Seller_type,town,district
0,5400000,1,50.0 perches,3,1600.0,Member,Matara City,Matara
1,16800000,3,8.0 perches,3,1480.0,Premium-Member,Athurugiriya,Colombo
2,20000000,2,20.0 perches,3,2800.0,Member,Kelaniya,Gampaha
3,187000000,5,22.0 perches,5,4000.0,Premium-Member,Colombo 6,Colombo
4,1300000,1,6.3 perches,2,900.0,Member,Dehiwala,Colombo

In [129]:
def acres_to_perches(row):
    if(len(row['Land size'].split())!=2):
        quantity = 'NaN'
    else:
        quantity, uom = row['Land size'].split()
        quantity = quantity.replace(',', '')
        if uom == 'acres':
            quantity=quantity*43560
    return quantity

df2['Land size'] = df2.apply(acres_to_perches, axis=1)

In [115]:
## Final Cleaned Dataset
df2.head()

,Price,Baths,Land size,Beds,House size,Seller_type,town,district
0,5400000,1,50.0,3,1600.0,Member,Matara City,Matara
1,16800000,3,8.0,3,1480.0,Premium-Member,Athurugiriya,Colombo
2,20000000,2,20.0,3,2800.0,Member,Kelaniya,Gampaha
3,187000000,5,22.0,5,4000.0,Premium-Member,Colombo 6,Colombo
4,1300000,1,6.3,2,900.0,Member,Dehiwala,Colombo

In [130]:
df2.Beds.unique()

array(['3', '5', '2', '4', '10+', '9', '8', '6', '7', '1', '10'],
      dtype=object)

In [131]:
df2.Baths.unique()

array(['1', '3', '2', '5', '4', '10+', '7', '6', '8', '10', '9'],
      dtype=object)

In [132]:
df2.shape

(15327, 8)

Assumed that 10+ values cannot be used for prediction. Therefore removed those columns

In [145]:
def is_int(x):
    try:
        int(x)
    except:
        return False
    return True

df2= df2[df2['Baths'].apply(is_int)]
df2= df2[df2['Beds'].apply(is_int)]
df2.shape

(15269, 8)

In [140]:
df2.head()

,Price,Baths,Land size,Beds,House size,Seller_type,town,district
0,5400000,1,50.0,3,1600.0,Member,Matara City,Matara
1,16800000,3,8.0,3,1480.0,Premium-Member,Athurugiriya,Colombo
2,20000000,2,20.0,3,2800.0,Member,Kelaniya,Gampaha
3,187000000,5,22.0,5,4000.0,Premium-Member,Colombo 6,Colombo
4,1300000,1,6.3,2,900.0,Member,Dehiwala,Colombo

In [143]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15269 entries, 0 to 15326
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Price        15269 non-null  int32
 1   Baths        15269 non-null  object
 2   Land size    15269 non-null  object
 3   Beds         15269 non-null  object
 4   House size   15269 non-null  float64
 5   Seller_type  15269 non-null  object
 6   town         15269 non-null  object
 7   district     15269 non-null  object
dtypes: float64(1), int32(1), object(6)
memory usage: 1014.0+ KB

In [149]:
df2['Baths'] = df2['Baths'].astype('int32')
df2['Beds'] = df2['Beds'].astype('int32')
df2.dtypes

Price            int32
Baths            int32
Land size       object
Beds             int32
House size     float64
Seller_type     object
town            object
district        object
dtype: object

In [151]:
df2.to_csv('cleaned_data.csv', sep='\t')